@media screen and (max-width: 1200px) {
    .menu {
        display: none;
    }
    .login {
        display: none;
    }
    
    .menu-bar {
        display: inline-block;
        width: 40px;
    }

    .logo-fundo {
        text-align: center;
    }

    .container-1 {
        display: flex;
        flex-flow: column wrap;
        border: 10px solid black;
    }
    .img-footer {
        width: 10%;
    }
    .textos {
        text-align: center;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        margin-left: 10%;
        margin-right: 10%;
    }

    .linhas {
        font-size: 25px;
    }
}